<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Privacy Policy</title>
   <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      padding: 2rem;
      background-color: #f9f9f9;
      color: #333;
    }
    h1, h2 , h3 {
      color: #222;
    }
    h1 {
      font-size: 2em;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 1.4em;
      margin-top: 2rem;
    }
    p {
      margin-bottom: 1rem;
    }
  </style>
  </head>
  <body>
    <p>
      This Privacy Policy forms part of our Website's and by accepting the Terms
      of Service and Privacy Policy on our registration page, you consent to
      share your sensitive personal data or personal information and are aware
      of the purpose of sharing such information. Please read this Privacy
      Policy carefully before using playwinindia.fun services. Please do not
      register if you do not wish to share with playwinindia.fun (hereinafter
      referred to as playwinindia or “we” or “us” or “our”) the mandatory
      personal information requested at the time of registration. Registration
      procedure cannot be completed until information sought in the non-optional
      fields is provided. Certain additional personal information may be
      requested by playwinindia for permitting you access to any Cash Games
      hosted by playwinindia. This Privacy policy applies to our services
      available under the domain and sub-domains of the Website
      (www.playwinindia.fun).
    </p>

    <h2>1. What is the objective of this Privacy Policy?</h2>
    <p>
      playwinindia respects your privacy and assures you that any information
      provided by you to playwinindia is protected and shall be dealt with
      according to this Privacy Policy and the applicable laws. To avail
      yourself of the services offered on (hereinafter referred to as the
      "Website"), you may have to provide certain information to us. This Policy
      delineates the procedure followed by playwinindia to gather, use, store,
      disclose and manage users' personal data. playwinindia collects personal
      data only for the purpose of verifying user accounts, maintaining the
      accounts of users, completing transactions initiated by users and for
      analyzing user behavior and requirements. Along with providing users with
      the most enjoyable online gaming experience, we also build a relationship
      of trust with our users. Our commitment to protecting user data is based
      on the principles of transparency, fairness, accuracy, data minimization,
      integrity and confidentiality.
    </p>

    <h2>2. What is included in personal data?</h2>
    <p>
      Users’ personal data includes the following types of personal data or
      information:
    </p>
    <ul>
      <li>Other Personal Information</li>
      <li>Name</li>
      <li>Email</li>
      <li>Date of birth</li>
      <li>Telephone number</li>
      <li>Postal/Contact address</li>
      <li>PAN (as applicable)</li>
      <li>The IP address of your computer, browser type and language.</li>
      <li>The date and the time of your accessing the site.</li>
      <li>
        The address of the website that you may have used to link to our Website
      </li>
      <li>
        Your photograph for the purpose of testimonials and other promotions.
      </li>
      <li>
        Any other information that is defined as “sensitive personal data or
        information” in law.
      </li>
    </ul>

    <h2>3. Users’ Consent</h2>
    <h3>
      Consent to the use of Sensitive Personal Data and Other Personal
      Information
    </h3>
    <p>
      All users of playwinindia consent to the use of their Sensitive Personal
      Data and Other Personal Information by playwinindia for the purposes
      stated in this policy. We restrict access to personal user information to
      our employees, contractors and agents and only allow access to those who
      need to know such information in order to process it on our behalf.
    </p>
    <p>
      Users are entitled to withdraw consent to the use of their Sensitive
      Personal Data or Other Personal Information by emailing a specific request
      to <a href="mailto:support@playwinindia.fun">support@playwinindia.fun</a>.
      Withdrawal of consent to use all or any part of Sensitive Personal Data
      and Other Personal Information may result in immediate withdrawal of any
      right provided to the user to use the services provided by playwinindia.
    </p>
    <p>
      Withdrawal of consent by users shall not restrict the right of
      playwinindia to use Other Personal Information for the analysis of user
      data, subject to the condition that the Other Personal Information used in
      such analysis is not personally identifiable to any individual user.
    </p>
    <p>
      Users’ providing photographs to playwinindia for marketing purposes gives
      playwinindia irrevocable rights to use them and it is solely playwinindia
      discretion to delete or not use them any further. playwinindia may also
      use software applications for Website traffic analysis and to gather
      statistics, used for advertising and for determining the efficacy and
      popularity of playwinindia and other such purposes.
    </p>

    <h3>Consent to the use of cookies</h3>
    <p>
      A cookie is a small text file that uniquely identifies your browser. You
      understand that when you visit the Website, cookies may be left in your
      computer. The cookies assigned by the servers of playwinindia may be used
      to personalize your experience on the Website. Additionally, cookies may
      also be used for authentication, game management, data analysis and
      security purposes.
    </p>
    <p>
      Cookies may also be assigned by the advertisers of playwinindia when you
      click on any of the advertisements, which may be displayed on any website,
      in which case such cookies are controlled by these advertisers and not
      playwinindia.
    </p>

    <h3>Consent to email communication</h3>
    <p>
      When you register your email address with playwinindia, you agree to
      receive email communication from playwinindia, entities specifically
      authorized by playwinindia, and other users. You also agree and
      acknowledge that when you use our referral program for referring someone,
      playwinindia may send emails to the person referred by you on your behalf
      and the email headers will carry your email address as the address from
      which such emails are sent.
    </p>
    <p>
      playwinindia may also access and store such information relating to your
      contacts to send invitations and other promotions to them periodically.
    </p>

    <h3>Consent to telephonic communication</h3>
    <p>
      Any telephonic communication between you and our Customer Support staff
      may be recorded for the purposes of employee training and quality
      management, as well as the speedy resolution of your queries.
    </p>

    <h2>4. Data Security</h2>
    <p>
      We take appropriate security measures to protect user data from
      unauthorized access and its unauthorized alteration, disclosure or
      destruction. These measures include internal reviews of our data
      collection, storage and processing practices and security measures,
      including appropriate encryption and physical security measures to guard
      against unauthorized access to systems where we store users’ personal
      data. playwinindia has a comprehensive information security program and
      information security policies that contain managerial, technical,
      operational and physical security control measures adopted by playwinindia
      for the protection of Sensitive Personal Data and Other Personal
      Information.
    </p>
    <p>
      Information gathered by playwinindia is stored securely using several
      information security applications including firewalls. However, security
      is always relative and PlayWinIndia cannot guarantee that its security
      measures are absolute and cannot be breached. Data transmitted over the
      Internet is inherently exposed to security risks or threats. For instance,
      the security of information transmitted via chat or email might be
      compromised and such information may be used by others. Therefore,
      playwinindia cannot guarantee any security for such information in the
      course of transmission through the internet infrastructure or any
      unsolicited disclosures made by any users using the services of the
      Website.
    </p>
    <p>
      When you register with playwinindia, your account is protected by means of
      login information, including a username and a password, which is known
      only to you. Therefore, you should not provide your personal information
      to anyone whosoever: breach hereof constitutes violation of this Policy
      and may result in closure of your account in certain cases. If you become
      aware of or reasonably suspect any breach of security, including
      compromise of your login information, it is your responsibility to
      immediately notify playwinindia.
    </p>
    <p>
      The Website may contain links to other websites. Such websites are
      governed by their own privacy policies, and playwinindia does not exercise
      any control over them. It is your responsibility to read and understand
      the privacy policy of such websites when you visit them following links
      provided on the Website. You are advised to exercise caution in sharing
      any personal information with any third party that advertises on the
      Website: playwinindia shall not be responsible for the information
      provided by you on or to third party websites.
    </p>
    <p>
      playwinindia has a policy of not sharing any personally identifiable
      information with anyone other than the entities specifically authorized by
      playwinindia, which may include advertisers and sponsors of playwinindia.
      However, playwinindia may use information like your name, photo, login ID
      and the state from where you are participating when announcing the results
      of any contests hosted on the Website. Such contests are further governed
      by terms and conditions, which shall be available on the Website as and
      when such contests are hosted on the Website. playwinindia conducts
      periodic analysis and survey of the traffic to playwinindia.fun for market
      research and advertising purposes. playwinindia reserves the right to
      share your registration information with playwinindia-appointed market
      research and advertising companies or firms from time to time for the said
      purposes. playwinindia may also use cumulative non-personal information
      for auditing and analysis purposes with the aim of improving its services.
    </p>

    <h2>5. Privacy measures for minors</h2>
    <p>
      Our Website and contests are meant only for persons aged 18 or above. If
      you are under 18 years of age, you are not permitted to use our Website.
      If you are a parent and/or guardian and believe that we may have
      inadvertently collected personal information from your child, you can
      notify us immediately by sending an email to.
    </p>

    <h2>6. Exclusions</h2>
    <p>
      playwinindia may share Sensitive Personal Data and Other Personal
      Information if sharing of such information is necessary:
    </p>
    <ul>
      <li>to comply with legal processes or governmental requests;</li>
      <li>to enforce its Terms of Service and this Privacy Policy;</li>
      <li>for prevention of fraud;</li>
      <li>for issues involving information security, or</li>
      <li>
        to protect:
        <ul>
          <li>your rights,</li>
          <li>rights of playwinindia, or</li>
          <li>rights of the general public.</li>
        </ul>
      </li>
    </ul>
    <p>
      These exclusions cover disclosing, under legal obligation, information
      about a particular user only who is named in the complaint raised with us.
    </p>

    <h2>7. Limitation of Liability</h2>
    <p>
      playwinindia confirms that this Privacy Policy is only a description of
      its operation regarding user information. This Privacy Policy is not
      intended to create, and does not create, any legal rights in your favor or
      in favor of any other person. playwinindia reserves the right to change
      this Privacy Policy at any time without giving you prior notice. The
      liability of playwinindia shall be limited to the removal of Sensitive
      Personal Data from the system of the Website and the removal of personally
      identifiable elements of the Other Personal Information. Notwithstanding
      anything to the contrary contained in this Policy and elsewhere, the
      aggregate liability of playwinindia for all claims for damages pursuant to
      the provisions of services on the Website, including claims in respect to
      the violation of this Policy, shall be limited to the aggregate maximum
      amount of liability as provided in the Terms of Service. Your continued
      use of the Website constitutes your agreement to this Privacy Policy and
      any amendments thereof.
    </p>

    <h2>8. Request for Account Deactivation</h2>
    <p>
      Users can write in to us to deactivate their account on playwinindia. Once
      the account is deactivated users won't be able to access their account on
      playwinindia.
    </p>

    <h2>9. Grievance Officer</h2>
    <p>
      playwinindia currently appoints Mr. Abhimanyu bansal as its Grievance
      Officer. All complaints related to your abaccount must be made to the
      Grievance Officer at.
    </p>

    <p><a href="#">Click</a> to know our Terms of Service.</p>
  </body>
</html>
